@media only screen and (max-width: 991px) {
    .mobile-margin{
        margin-top: 30px;
    }
}

.line {
    display: block;
    border-top: 2px solid black;
    margin: 1em 0;
    
}
.carousel-control-prev-icon {
    left:0;
    margin-top: 80%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
    right:0;
    margin-top: 80%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
#pic-close {
    background-color: red;
    display: block;
    float:right;
    position:relative;
    top:-10px;
    right: -10px;
    height: 20px;
      
}

#carouselExampleControls .carousel-control-prev,
#carouselExampleControls .carousel-control-next{
    top: 200px;
    bottom: 200px;
    width: 5%;
}

.skip-btn:hover{
    color: #172b4d !important;
    border-color: #172b4d !important;
}
#new-image {
    max-width: 180px;
}

#image-description {
    border: 1px solid #5e72e4;
    padding: 8px 80px 8px 8px;
}

.br-on-mobile {
    display: none;
}

@media screen and (max-width: 411px) {
    .br-on-mobile {
        display: inline-block;
    }
}

.loading {
    z-index: 999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*background-color: white;*/
    background-color: rgba(242, 242, 242,.7);
}

.loading-wheel {
    width: 150px;
    height: 150px;
    margin-top: -40px;
    margin-left: -75px;
    
    position: absolute;
    top: 40%;
    left: 50%;
}

.loading-text {
    text-align: center;

    width: 250px;
    margin-top: 120px;
    margin-left: -120px;
    
    position: absolute;
    top: 40%;
    left: 50%;
}
